@import url('https://fonts.google.com/specimen/Manrope?query=cer');
@import url('https://fonts.google.com/specimen/Inter?query=cer');
body {
    background-color: #8CF0F0; 
    color: #2649a0;
    font-family: 'Manrope', sans-serif;
}

main, header {
    width: 100%;
    text-align: center;
}

.main-card {
    padding: 20px;
    display: inline-grid;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1200px;
    background-color: #D2D2DF;
}

.login-card {
    padding: 10px;
    margin: auto;
    display: flex;
    width: 585px;
    background-color: #D2D2DF;
}

.login, .subscribe {
    width: 30%;
    font-size: large;
    background-color: #D2D2DF;
    margin: auto;
}

.login form label {
    display: block;
    padding: 10px;
}

.subscribe form label {
    display: block;
    padding: 10px;
}

.login-card img {
    width: 200px;
}

h1, h2{
    padding: 20px;
    grid-column: right;
    margin: auto;
}

.top-nav {
    width: 1205px;
    font-size: large;
    display: inline-block;
    padding: 5px;
    background-color: #FFC4E1;
}

.message-card {
    padding: 23px;
    width: 1200px;
    font-size: large;
    display: inline-grid;
    background-color: #D2D2DF;
}
